# Format URL Database untuk TiDB (MySQL):
DATABASE_URL="mysql://<DB_USERNAME>:<DB_PASSWORD>@<DB_HOST>:4000/test?sslaccept=strict"

# Kunci Rahasia JWT untuk Autentikasi
JWT_SECRET="your_jwt_secret_key_here"
